.change_display_name_container {
  align-items: center;
  padding: 2rem;
}

.input_field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.action_button {
  border-radius: 8px;
  border: 2px solid #a09797;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 3px;
}
.action_button:hover {
  border-color: #a09797;
  background-color: #e6e1e1;
}

.the_label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: left;
}

.input_text {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.input_text:focus {
  border-color: #a8a8a8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.failed {
  color: #b22f2f;
  text-align: center;
}
