.AppBar-root {
    /* position: sticky; */
    margin-top: 0px;
    z-index: 1000;
    width: 100%;
}

.profile-container {
    text-align: center;
    margin-top: 0px;
}

.profile-header {
    font-weight: 2.4em;
}

.profile-detail {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}
  
.profile-detail label,
.profile-detail span {
    font-size: 1.5em;
}
  
.profile-detail label {
    font-weight: bold;
    margin-right: 10px; 
}

.profile-detail span {
    margin-top: -7px;
}