.center-align-cell {
  text-align: center;
}

.table-header {
  font-size: 1.25em;
  background-color: #c4c5c5;
  text-align: center;
  padding: 10px;
}

.add-header {
  text-align: center;
}

.label-name {
  display: block;
  font-weight: 600;
  text-align: left;
}

.user-info {
  margin-left: 15px;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.update-form > div {
  margin-bottom: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-detail {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-detail label,
.profile-detail span {
  font-size: 1.5em;
}

.profile-detail label {
  font-weight: bold;
  margin-right: 10px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.action-button {
  border-radius: 8px;
  border: 2px solid #a09797;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 3px;
}
.action-button:hover {
  border-color: #a09797;
  background-color: #e6e1e1;
}
