.modal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightgray;
  border: 2px solid black;
  box-shadow: 24;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.scrollingContainer {
  overflow-y: auto;
  width: 50%;
}

.editor {
  min-height: auto;
  box-shadow: 24;
}

.collab_container {
  display: flex;
  flex-direction: column;
}

.questions_code_container {
  width: 100%;
  display: flex;
}

.chat_output_container {
  display: flex;
  overflow-y: auto;
}
